*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button:active, button:visited, button:checked, button:focus {
  outline: none;
}

.tag {
  padding: 5px 13px;
  border-radius: 16px;
  font: normal normal normal 12px Helvetica Neue;
}

.tag.blue {
  background-color: #24c3c2;
}

.tag.green {
  background-color: #a4c324;
}

.tag.orange {
  background-color: #c69b93;
}

.title.primary {
  font: normal normal normal 20px Helvetica Neue;
  color: #9fa3a7;
}

.title.secondary {
  font: normal normal normal 16px Helvetica Neue;
  color: #9fa3a7;
}

.title.third {
  font: normal normal normal 12px Helvetica Neue;
  color: #848797;
}

.title.dark.primary {
  font: normal normal bold 20px Helvetica Neue;
  color: #6f7377;
}

.title.dark.secondary {
  font: normal normal bold 16px Helvetica Neue;
  color: #6f7377;
}

.title.dark.third {
  font: normal normal bold 12px Helvetica Neue;
  color: #6f7377;
}

.input {
  display: block;
  text-align: left;
  font: normal normal bold 16px/19px Helvetica Neue;
  color: #6f7377;
}

.input input {
  margin-top: 7px;
  width: 100%;
  background: #f7f7f7 0% 0% no-repeat padding-box;
  border: 1px solid #b5babf;
  border-radius: 4px;
  outline: none;
  font: normal normal normal 16px/18px Helvetica Neue;
  padding: 12px 14px;
}

.input input:checked, .input input:active, .input input:focus {
  border: 1px solid #24c3c2;
}

.button {
  border-radius: 4px;
  cursor: pointer;
  padding: 9px 19px;
  border: none;
  font: normal normal bold 20px/25px Helvetica Neue;
}

.button:hover {
  background: #f7f7f7 0% 0% no-repeat padding-box;
}

.button.primary {
  color: #24c3c2;
}

.button.secondary {
  color: #6f7377;
}

.select {
  display: block;
  text-align: left;
  font: normal normal bold 16px/19px Helvetica Neue;
  color: #6f7377;
}

.select select {
  margin-top: 7px;
  width: 100%;
  background: #f7f7f7 0% 0% no-repeat padding-box;
  border: 1px solid #b5babf;
  border-radius: 4px;
  outline: none;
  font: normal normal normal 16px/18px Helvetica Neue;
  padding: 12px 14px;
}

body {
  background-color: #2e3545;
}

#app {
  width: 95%;
  margin: auto;
  padding-top: 48px;
  min-height: 100vh;
  position: relative;
}

@media (min-width: 576px) {
  #app {
    width: 540px;
  }
}

@media (min-width: 768px) {
  #app {
    width: 608px;
  }
}

.todo {
  background-color: #252b3c;
  border-radius: 4px;
  padding: 24px;
}

.todo:not(:first-child) {
  margin-bottom: 16px;
}

.todo h2 {
  margin-bottom: 4px;
}

.todo p {
  margin-bottom: 12px;
}

.todo svg {
  width: 24px;
}

.todo button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.todo button:not(:first-of-type) {
  margin-left: 8px;
}

.todo-title {
  text-align: left;
  padding-left: 12px;
  margin-bottom: 28px;
}

.todo .tag {
  float: right;
}

.add-card {
  background: #eeeeee 0% 0% no-repeat padding-box;
  border-radius: 4px;
  padding: 36px 24px;
  width: 90%;
  height: 475px;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

@media (min-width: 576px) {
  .add-card {
    width: 420px;
  }
}

.add-card h2 {
  text-align: left;
  margin-bottom: 43px;
}

.add-card label {
  margin-bottom: 18px;
}

.add-card-buttons {
  text-align: right;
}

.add-card-buttons button:first-child {
  margin-right: 4px;
}

button.add {
  background: #24c3c2 0% 0% no-repeat padding-box;
  border-radius: 60px;
  position: fixed;
  width: 60px;
  height: 60px;
  right: 32px;
  bottom: 72px;
  border: none;
  cursor: pointer;
  z-index: 9;
}

button.add svg {
  width: 32px;
}

.finish {
  opacity: .5;
}
/*# sourceMappingURL=main.css.map */